body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

/* Contenedor principal*/
.contenedor {
    width: 60%;
    margin: 0 auto; /*Centra el contendio*/
}

/*Cajas*/
.caja {
    background-color: lightblue;
    border: 2px solid blue;

    padding: 20px; /*Espacio Interno*/
    margin: 20px 0; /*Espacio Externo*/
}